.menu-item {
    height: 100%;
    color: inherit;
    text-decoration: none;
    margin-left: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 87%;
    &--active {
        border-bottom: 5px var(--primary-color) solid;
        color: var(--primary-color);
    }
}
